<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome-ie7.css"
    integrity="sha512-Kpsc+/EabAS1fFZpJxAMbY4UbBNzSJL3J6fxMEqzuL10stipHg0aWcW0W+Rj1CgP0xm86RCAMIvchOCI1eASaA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
    integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--
    google fonts
   -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <title>HUMBARA</title>
  <!-- main css -->
  <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
  <!-- Navbar -->
  <nav class="py-1 navbar navbar-expand-lg navbar-light bg-mutedcolor sticky-top d-flex flex-column">
    <div class="container-fluid">
      <button class="navbar-toggler" style="border-color: var(--primary-color)" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="fs-1 color-primary"><i class="fa-solid fa-bars"></i></span>
      </button>

      <a href="/" class="navbar-brand">
        <img src="assets/icons/nav_logo.png" alt="logo image" />
      </a>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li class="nav-item navbar__dropdown d-none d-lg-block">
              <button class="nav-link navbar__dropdown--btn d-flex align-items-center p-1">
                Courses <i class="ms-2 fa-solid fa-angle-down"></i>
              </button>

              <div class="navbar__dropdown--content w-50">
                <div class="row w-100">
                  <div
                    class="col-12 col-md-6 d-flex flex-column align-items-start justify-content-start bg-darkcolor p-2"
                    style="border-radius: 0.5rem 0 0 0.5rem">
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 text-white mb-2 text-decoration-none"
                      href="#">All Courses</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 text-white mb-2 text-decoration-none"
                      href="#">Best Courses</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 text-white mb-2 text-decoration-none"
                      href="#">Latest</a>
                  </div>
                  <div class="col-12 col-md-6 d-flex flex-column align-items-start justify-content-center p-2">
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Intro Courses</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Modeling</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Concept Art</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Character Creation</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Animation</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item navbar__dropdown d-none d-lg-block">
              <button class="nav-link navbar__dropdown--btn d-flex align-items-center p-1">
                Assets <i class="ms-2 fa-solid fa-angle-down"></i>
              </button>

              <div class="navbar__dropdown--content w-50">
                <div class="row w-100">
                  <div
                    class="col-12 col-md-6 d-flex flex-column align-items-start justify-content-center bg-darkcolor p-2"
                    style="border-radius: 0.5rem 0 0 0.5rem">
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 text-white mb-2 text-decoration-none"
                      href="#">All Assets</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 text-white mb-2 text-decoration-none"
                      href="#">Best Assets</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 text-white mb-2 text-decoration-none"
                      href="#">Latest</a>
                  </div>
                  <div class="col-12 col-md-6 d-flex flex-column align-items-start justify-content-center p-2">
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">3D Models</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Brushing</a>
                    <a class="navbar__dropdown--link p-2 d-block w-100 rounded-3 color-dark mb-2 text-decoration-none"
                      href="#">Game Assets</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown navbar__dropdown d-block d-lg-none mb-3">
              <a class="nav-link dropdown-toggle p-2 m-0" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Assets
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">All Assets</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Best Assets</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Latest</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">3D Models</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Brushes</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Game Assets</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown navbar__dropdown d-block d-lg-none mb-3">
              <a class="nav-link dropdown-toggle p-2 m-0" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">All Courses</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Best Courses</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Latest</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Intro Courses</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Modeling</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Concept Art</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Character Creation</a>
                </li>
                <li>
                  <a class="dropdown-item navbar__dropdown--link" href="#">Animation</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown navbar__dropdown d-block d-lg-none mb-3">
              <a class="nav-link dropdown-toggle p-2 m-0 d-flex align-items-center" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user me-2"></i>
                Account
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="login.html">Login</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="signup.html">Signup</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown navbar__dropdown d-block d-lg-none mb-3">
              <a class="nav-link dropdown-toggle p-2 m-0 d-flex align-items-center" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical me-2"></i>
                Other
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="creators-list.html">Instructors</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-category.html">Product List
                    Category</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-creator.html">Product List
                    Creator</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-special.html">Product List
                    Special</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-campaign.html">Product List
                    Campaign</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="payment-failed.html">Payment Failed</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="payment-successful.html">Payment Successful</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="_purchase_history.html">Purchase History</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="_payment_methods.html">Payment Methods</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="_profile_setting.html">Profile & Setting</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="cart.html">Cart</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="checkout.html">Checkout</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="about-us.html">About Us</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="cookie.html">Cookie</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="terms.html">Terms</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="privacy.html">Privacy</a>
                </li>
              </ul>
            </li>
          </ul>

          <form class="d-flex nav__form position-relative me-auto mb-sm-0 mb-3" role="search">
            <input class="form-control nav__search--input py-0" type="text" placeholder="Search" aria-label="Search" />
            <button
              class="btn nav__form--button color-primary position-absolute top-50 end-0 translate-middle-y rounded-2 py-0"
              style="
                  background-color: transparent !important;
                  color: var(--primary-color);
                  border: none;
                " type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>

          <div class="d-flex align-items-center">
            <div class="dropdown my-courses me-2 d-none d-lg-block">
              <button class="btn dropdown-toggle text-white py-1"
                style="background-color: var(--primary-color) !important" type="button" id="dropdownMyCourses"
                data-bs-toggle="dropdown" aria-expanded="false">
                My Courses
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMyCoursess">
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="_my_courses.html">
                    <div class="course-content">
                      <img src="./assets/images/fp-image.png" alt="" />
                      <div class="course-content--dec">
                        <p>Course Name</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                            style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            25%
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="_my_courses.html">
                    <div class="course-content">
                      <img src="./assets/images/fp-image.png" alt="" />
                      <div class="course-content--dec">
                        <p>Course Name</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                            style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            25%
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="_my_courses.html">
                    <div class="course-content">
                      <img src="./assets/images/fp-image.png" alt="" />
                      <div class="course-content--dec">
                        <p>Course Name</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-label="Example with label"
                            style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            25%
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li id="go-to-my-course">
                  <div class="course-btn">
                    <a href="./_my_courses.html">Kurslarıma Git</a>
                  </div>
                </li>
              </ul>
            </div>
            <button class="d-none d-lg-block btn bg-primarycolor text-white btn-cart me-2 py-1"
              style="background-color: var(--primary-color) !important">
              <span class="cart-counter bg-darkcolor rounded-circle text-white">
                2
              </span>
              <i class="navbar-icon fa-solid fa-cart-shopping"></i>
            </button>

            <div class="dropdown me-2 d-none d-lg-block">
              <button class="btn bg-graycolor dropdown-toggle text-white py-1"
                style="background-color: var(--gray-color) !important" type="button" id="dropdownMenuUser"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="navbar-icon fa-solid fa-user"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuUser">
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="login.html">Login</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="signup.html">Signup</a>
                </li>
              </ul>
            </div>

            <div class="dropdown d-none d-lg-block">
              <button class="btn bg-graycolor dropdown-toggle text-white py-1"
                style="background-color: var(--gray-color) !important" type="button" id="dropdownMenuMore"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="navbar-icon fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuMore">
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="creators-list.html">Instructors</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-category.html">Product List
                    Category</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-creator.html">Product List
                    Creator</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-special.html">Product List
                    Special</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="productlist-campaign.html">Product List
                    Campaign</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="payment-failed.html">Payment Failed</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="payment-successful.html">Payment Successful</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="cart.html">Cart</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="checkout.html">Checkout</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="about-us.html">About Us</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="cookie.html">Cookie</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="terms.html">Terms</a>
                </li>
                <li>
                  <a class="navbar__dropdown--link dropdown-item" href="privacy.html">Privacy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="d-block d-lg-none btn bg-primarycolor text-white btn-cart me-2"
        style="background-color: var(--primary-color) !important">
        <span class="cart-counter bg-darkcolor rounded-circle text-white">
          2
        </span>
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
    </div>
  </nav>
  <!-- MODAL -->
  <div class="support__container">
    <div class="support__row">
      <div class="support__item support__item--up opacity-0" id="up-button">
        <a href="#"><i class="fa-solid fa-angles-up"></i></a>
      </div>
      <button class="support__item support__item--collapse border-0">
        <i class="fa-solid fa-share-nodes"></i>
      </button>
      <div class="support__collapse deactive">
        <div class="support__item support__item--discord">
          <a target="_blank" href="https://discord.com/channels/@omeratayilmaz#6601"><i
              class="fab fa-discord fa-xl"></i></a>
        </div>
        <div class="support__item support__item--whatsapp">
          <a target="_blank" href="https://api.whatsapp.com/send?phone=5511841517"><i
              class="fab fa-whatsapp fa-xl"></i></a>
        </div>
      </div>
    </div>
  </div>
  <section id="profile-banner" class="purchase-banner">
    <h1>Profile & Settings</h1>
  </section>
  <section id="profile-content">
    <form action="">
      <div class="profile-content--part" id="first-part">
        <div class="image-content">
          <div id="profile-frame">
            <img src="./assets/images/profile-exmp.jpg" alt="" />
          </div>
          <div id="profile--image-option">
            <label for="">Change Your image</label>
            <div class="image-load-input">
              <input type="text" placeholder="Image Upload" />
              <button>Upload</button>
            </div>
          </div>
        </div>
        <label for="name">First Name</label>
        <input type="text" placeholder="Your Name" />
        <label for="surname">Last Name</label>
        <input type="text" placeholder="Your Surname" />
        <label for="job-title">Job Title</label>
        <input type="text" placeholder="Your Job" />
        <label for="bio">Your Biography</label>
        <textarea name="" id="bio" cols="30" rows="10" placeholder="Your Bio"></textarea>
      </div>
      <div class="profile-content--part">
        <!-- <label for="website">Website</label>
          <input type="text" placeholder="Username" />
          <label for="linkedin">Linkedin</label>
          <input type="text" placeholder="Username" />
          <label for="facebook">Facebook</label>
          <input type="text" placeholder="Username" />
          <label for="youtube">Youtube</label>
          <input type="text" placeholder="Username" /> -->
        <label for="lang">Your Language</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Korean</option>
          <option value="1">Turkish</option>
          <option value="2">English</option>
          <option value="3">Arabic</option>
          <option value="4">Spanish</option>
        </select>
        <label for="location">Your Location</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Turkey</option>
          <option value="1">USA</option>
          <option value="2">England</option>
          <option value="3">Africa</option>
          <option value="4">South Korea</option>
        </select>

        <div class="form-btns">
          <button>Cancel</button>
          <button>Save</button>
        </div>
      </div>
    </form>
  </section>
  <section id="setting-content">
    <h1>Privacy Setting</h1>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
      <label class="form-check-label" for="flexCheckChecked">
        Show your profile to logged-in users
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
      <label class="form-check-label" for="flexCheckChecked">Show courses you are taking on your profile page
      </label>
    </div>
    <div class="setting-btn"><button>Save</button></div>
  </section>
  <footer class="container-fluid footer__container bg-light d-flex">
    <div class="d-flex align-items-center justify-content-center flex-wrap mx-auto mb-3">
      <a href="#" class="text-decoration-none color-gray">Newsletter</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-decoration-none color-gray">Company</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-decoration-none color-gray">Support</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-decoration-none color-gray">Terms Of Service</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-decoration-none color-gray">Privacy Policy</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-decoration-none color-gray">Licenses</a>
      <span class="mx-1">|</span>
      <a href="#" class="text-decoration-none color-gray">Become an Affiliate</a>
    </div>
    <div class="social-icons">
      <a href="#" class="color-primary"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="color-primary"><i class="fa-brands fa-youtube"></i></a>
      <a href="#" class="color-primary"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#" class="color-primary"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="footer--rights text-center">Copyright © 2022 Humbara</div>
  </footer>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <!-- swiper -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <script src="./vendors/swiper.js"></script>
  <script src="./vendors/supportbar.js"></script>
</body>

</html>